<% if object.errors.any? %>
<section>
<h2>
  Oops! your form could not be saved
</h2>
<h3>
  PLease correct the fllowing  
  <%= pluralize(object.errors.size, "error") %>: 
</h3>
<ul>
 <% object.errors.full_messages.each do |message| %>
 <li><%= message %></li>
 <% end %>
</ul>
</section>
<% end %>