/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .content {
     background-color: antiquewhite;
 }
 nav a {
    text-decoration:none; 
    color: black;
 }
 .event {
    border-bottom: 5px solid grey;
 }
 .events {
     text-align: center;
     
 }
 .events li {
    list-style-type: none;
 }
 
 footer {
     background-color: black;
     text-align: center;
     color: white;
 }
 nav {
     display: flex;
     align-items: center;
     
 }
nav li {
    list-style-type: none;
}
.image img {
    width: 10rem;
    height: 10rem
}
.field_with_errors {
    color: red;
}
.content .flash {
    text-align: center;
    font-weight: 800;
}
.content .notice  {
    background-color: #90EE90;
    color: #006400;
}